.header__language-link {
    margin-left: 18px;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 720px) {
    .header__language-link {
        font-size: 18px;
        line-height: 20px;
    }
}

.header__language-link:hover {
    text-decoration: underline;
}